.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-around;
    justify-items: center;
    padding: 2px 40px;
}


@media screen and (max-width:825px){
    .cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
} 
.paginate{
    position: fixed;
    display: flex;
    justify-content: center;
    max-width: 40px;
    max-height: 60px;
    bottom: 0;
}
.nav{
    position:fixed;
    top:0
}