.card{
    text-align: center;
    border: 1px solid rgb(54,54,54);
    width: 85%;
    height: 95%;
    margin: 8px;
    padding: 2%;
    background-color: rgb(129, 199, 216);
    border-radius: 20px;
}
img{
    width: 90%;
    border: 6px solid greenyellow;
    border-radius: 10px;
}