.search{
    margin:8px;
    padding: 8px;
    justify-content: end;
}
button{
    height: 50px;
    border: 2px chartreuse solid;
    border-radius: 4px;
    padding: 12px;
    margin: 8px;
    background-color: antiquewhite;
    cursor: pointer;
}
input{
    width:250px;
    height: 50px;
    font-size: 25px;
}