.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(150, 199, 199);
    border: 1px gray solid;
    border-radius: 3px;
    padding: 1px;
}
