.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(150, 199, 199);
    border: 1px gray solid;
    border-radius: 3px;
    padding: 1px;
}
.btnNav{
    height: 40px;
    border: 2px rgba(34, 34, 34, 0.596) solid;
    border-radius: 4px;
    padding: 7px;
    margin: 20px;
    cursor: pointer;
    background-color: rgba(78, 115, 136, 0.808);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.logOut{
    height: 40px;
    margin-right: 40px;
    background-color: rgb(160, 71, 71);
    border: 2px solid black;
    border-radius:6px ;
    font-size: 15px;
    cursor: pointer;
}
.nav .btnNav:hover{
    border:2px solid rgb(0, 0, 0);
    color: rgb(14, 8, 29);
    background-color: rgba(78, 115, 136, 0.63);
}
.nav .logOut:hover{
    border:2px solid rgb(0, 0, 0);
    color: rgb(14, 8, 29);
    background-color: rgba(211, 29, 29, 0.904);
}